* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.logo_titulo {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_titulo img {
  height: 10rem;
}

.logo_titulo h1 {
  color: wheat;
  text-transform: uppercase;
}

header {
  background-color: black;
}

header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
}

header ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

header ul a:hover {
  background-color: white;
  color: black;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.4rem 0;
}

.productos .imagenes_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.productos .imagenes_productos .gorros_de_lana, .productos .imagenes_productos .gorras, .productos .imagenes_productos .otros {
  position: relative;
}

.productos .imagenes_productos .gorros_de_lana:hover img, .productos .imagenes_productos .gorras:hover img, .productos .imagenes_productos .otros:hover img {
  opacity: 0.4;
}

.productos .imagenes_productos .gorros_de_lana:hover .texto a, .productos .imagenes_productos .gorras:hover .texto a, .productos .imagenes_productos .otros:hover .texto a {
  color: black;
}

.productos .imagenes_productos .gorros_de_lana .texto a, .productos .imagenes_productos .gorras .texto a, .productos .imagenes_productos .otros .texto a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  color: white;
  font-size: 2rem;
  text-decoration: none;
  min-width: 100%;
}

.productos .imagenes_productos div {
  margin: 5px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos .imagenes_productos div img {
  width: 300px;
  height: 32rem;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.imagenes_inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.4rem 0;
}

.imagenes_inicio div {
  margin: 5px;
  width: 300px;
}

.imagenes_inicio div h2 {
  color: wheat;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
}

.imagenes_inicio div img {
  width: 300px;
}

@media (min-width: 768px) {
  .imagenes_inicio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */