* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.logo_titulo {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_titulo img {
  height: 10rem;
}

.logo_titulo h1 {
  color: wheat;
  text-transform: uppercase;
}

header {
  background-color: black;
}

header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0;
}

header ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

header ul a:hover {
  background-color: white;
  color: black;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.4rem 0;
}

.productos .imagenes_productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.productos .imagenes_productos div {
  margin: 5px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos .imagenes_productos div .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.productos .imagenes_productos div h2 {
  color: wheat;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
}

.productos .imagenes_productos div img {
  width: 300px;
}

.imagenes_inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.4rem 0;
}

.imagenes_inicio .primeras_imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.imagenes_inicio .primeras_imagenes div {
  margin: 5px;
  width: 300px;
}

.imagenes_inicio .primeras_imagenes div h2 {
  color: wheat;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
}

.imagenes_inicio .primeras_imagenes div img {
  width: 300px;
}
/*# sourceMappingURL=style.css.map */