.imagenes_inicio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2.4rem 0;
	text-align: center;

	div {
		margin: 5px;
		width: 300px;

		h2 {
			color: wheat;
			font-weight: bold;
			text-transform: uppercase;
			background-color: black;
		}

		img {
			width: 300px;
		}
	}
}
