@media (min-width: 512px) {
}

@media (min-width: 768px) {
	.imagenes_inicio {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
	}

	.productos {
		.imagenes_productos {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
	}
}

@media (min-width: 1024px) {
}
