@media (max-width: 738px) {
	.arrobas {
		display: none;
	}
}

@media (min-width: 512px) {
}

@media (min-width: 570px) {
}

@media (min-width: 768px) {
	.imagenes_inicio {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
	}

	.productos {
		.imagenes_productos {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: center;
		}
	}

	.seccion_lana {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.lana {
			transition: all 0.3s ease;
		}
		.lana:hover {
			transform: scale(1.05);
		}
	}

	.gorras_visera {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
	}
}

@media (min-width: 1024px) {
}
