.productos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.4rem 0;


    .imagenes_productos {
        display: flex;
        flex-direction: column;
        text-align: center;

        .gorros_de_lana, .gorras, .otros {
            position: relative;
            

            &:hover img {
                opacity: 0.4;
                
            }

            &:hover .texto a{
                color: black;
            }

            .texto a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .3s all ease;
                color: white;
                font-size: 2rem;
                text-decoration: none;
                min-width: 100%;
            }
        }
        div {
            margin: 5px;
            width: 300px;
            align-items: center;
    
            img {
               width: 300px;
               height: 32rem;
               transition: .3s all ease;
            }

            
        }
    }
   
}