.productos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.4rem 0;


    .imagenes_productos {
        display: flex;
        flex-direction: column;
        text-align: center;

        .gorros_de_lana {
            position: relative;
            

            &:hover img {
                opacity: 0.4;
                
            }

            &:hover .texto {
                color: black;
            }

            .texto {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .3s all ease;
                color: white;
                font-size: 2rem;

            }
        }
        div {
            margin: 5px;
            width: 300px;
            align-items: center;
        
            h2 {
                color: wheat;
                font-weight: bold;
                text-transform: uppercase;
                background-color: black;

            }
    
            img {
               width: 300px;
               transition: .3s all ease;
            }

            
        }
    }
   
}